<div class="container">
    <div class="row">
      <div class="col col-md-4 mx-5 mx-lg-0 mx-md-0 col-lg-3 form ">
              <h2 class="text-primary text-center">Login</h2>
              <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
                  <div class="form-group mb-3">
                      <label for="expanceName">Email</label>
                      <input type="text" class="form-control" id="email"   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" name="email" formControlName="email" placeholder="Enter an Email">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email is invalid</div>
                      </div>
                    </div>
                  <div class="form-group mb-3">
                      <label for="expanceAmount">Password</label>
                      <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" formControlName="password" placeholder="Enter a Password">
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">
                          Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.password.errors.maxlength">
                          Password must not exceed 40 characters
                        </div>
                      </div>
                    </div>
                  <button type="submit" class="btn btn-primary my-2 w-100 py-2">Login</button>
                    <!-- <div class="d-flex justify-content-center">
                       Don't have an account? <a class="mx-2" routerLink="/register">Register</a>
                    </div> -->
              </form>
      </div>
    </div>
  </div>  