.container{
 height: 100vh;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    background-image: url("../../assets/images/bg-2.svg");
    background-size: cover;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    animation: slide 0.5s;
}
@keyframes slide {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }   
}
input:focus{
    outline: none !important;
    box-shadow: none !important;
}

input:invalid{
    border-outline:transparent;
    border: 4px solid #FF0000;
    border-radious:20px;
    animation: shake 0.2s 2;
  }

  @keyframes shake{
    25%{
      translate: 6px 0;
    }50%{
      translate: -6px 0;
    }75%{
      translate: 6px 0;
    }
  }