<nav
  class="navbar navbar-expand-lg bg-body-tertiary border-2 border border-top-0 shadow"
>
  <div class="container-fluid mx-5">
  <b>  <a
      class="navbar-brand text-primary border-bottom border-primary"
      routerLink="/home"
      >Expenditure</a
    ></b>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto text-center">
        <li class="nav-item">
          <b>
            <a
              class="nav-link active text-primary"
              aria-current="page"
              routerLink="/home"
            >
              Home</a
            ></b
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-expanse">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-expanse">Expanses</a>
        </li>
      </ul>
      <div class="d-flex justify-content-center">
        <div *ngIf="token">
          <a class="btn btn-primary btn-sm shadow" (click)="logout()">Logout</a>
        </div>
        <div *ngIf="!token">
          <a class="btn btn-primary btn-sm mx-2 shadow" routerLink="/login"
            >Login</a
          >
          <a class="btn btn-primary btn-sm shadow" routerLink="/register"
            >Register</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
