<div class="container">
    <div class="row">
      <div class="col col-md-4 mx-5 mx-lg-0 mx-md-0 col-lg-3 form ">
              <h2 class="text-primary text-center">Register</h2>
              <form class=""> 
                  <div class="form-group mb-3">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter your name">
                  </div>
                  <div class="form-group mb-3">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" placeholder="Enter an Email">
                  </div>
                  <div class="form-group mb-3">
                      <label for="password">Password</label>
                      <input type="text" class="form-control" id="password" placeholder="Enter a Password">
                  </div>
                  <button type="submit" class="btn btn-primary my-2 w-100 py-2">Register</button>

                    <div class="d-flex justify-content-center">
                       have an account? <a class="mx-2" routerLink="/login">Login</a>
                    </div>
              </form>
      </div>
    </div>
  </div>  